---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout currentPage="tips" title="Tips | Neon Lightning Force" pageType="internal">
	<section class="contenedor-media contenedor-interna">
		<div class="fondo-interna">
			<div class="fondo-contenido">
				<h1 class="titulo-seccion">Tips</h1>
				<ul>
                    <li>Inicias con solo 3 créditos y 5 vidas, cuídalos usando los botones de evasión, te harán falta cerca del final.</li>
                    <li>Ten paciencia al combatir un jefe, cuida tu barra de vida.</li>
                    <li>Steven es el único personaje que puede realizar técnicas y combos con las armas.</li>
                    <li>Los niveles son lineales pero te aconsejamos explorar(?) y golpear algunas cosas.</li>
                    <li>Cuídate de las balas y minas, quitan harta vida.</li>
                    <li>Recibirás vidas extra por acumular puntos.</li>
                </ul>
			</div>
		</div>
	</section>
</MainLayout>