---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout currentPage="tips" title="Tips | Neon Lightning Force" pageType="internal">
	<section class="contenedor-media contenedor-interna">
		<div class="fondo-interna">
			<div class="fondo-contenido">
				<h1 class="titulo-seccion">Tips</h1>
				<ul>
					<li>Recibirás una vida adicional cada 200,000 puntos o consiguiendo objetos como los gachapones ocultos en los niveles.</li>
					<li>Evita recibir daño usando el botón de evasión siempre que puedas.</li>
                    <li>Ten paciencia al combatir un jefe, los secuases que vienen a ayudarle pueden ser muchos pero son limitados.</li>
                    <li>Steven es el único personaje que puede realizar técnicas y combos con las armas.</li>
                    <li>Los niveles son lineales pero te aconsejo explorarlos, hay objetos escondidos detrás de los decorados frontales.</li>
                    <li>Cuídate de las armas de fuego (pistolas, fusiles) y armas explosivas (Granadas y Molotov), pueden inflingir muchísimo daño, pero en tus manos pueden darte una enorme ventaja.</li>
					<li>Los robots poseen blindaje contra armas de fuego y reciben un daño reducido de armas punzocortantes.</li>
					<li>Las armas eléctricas inflijen el doble de daño a los robots y aturden a enemigos biológicos.</li>
					<li>Las armas inflamables inflijen un daño adicional en oponentes biológicos pero un daño reducido en robots.</li>
                </ul>
			</div>
		</div>
	</section>
</MainLayout>