---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout currentPage="gallery" title="Galería | Neon Lightning Force" pageType="internal">
	<section class="contenedor-media contenedor-interna">
		<div class="fondo-interna">
			<div class="fondo-contenido">
				<h1 class="titulo-seccion">Galería</h1>
				<div class="galeria-imagenes">
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
					<img src="/img/gallery/neopolis.png" alt="Neopolis" />
                </div>
			</div>
		</div>
	</section>
</MainLayout>