@font-face {
    font-family: 'Denjin-Makai';
    src: url('../fonts/denjin-makai.ttf') format('ttf'),
    url('../fonts/denjin-makai.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Revue';
    src: url('../fonts/revue.ttf') format('ttf'),
    url('../fonts/revue.woff') format('woff'),
    url('../fonts/revue.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.846355dvw;
}
a {
    color: #FFFFFF;
}
.skyline {
    width: 100dvw;
    height: 18.49dvw;
    display: flex;
    justify-content: flex-start;
}
.clouds {
    background: url("../img/clouds.png") repeat-x top center;
    background-size: auto 100%;
    height: 15.052dvw;
    animation: clouds-move 60s linear infinite;
    will-change: background-position;
}
.neopolis-city {
    background: url(../img/neopolis.gif) bottom right repeat-x;
    background-size: contain;
    width: 15.24605dvw;
    height: 18.49vw;
}
.neopolis-city-1 {
    background: url(../img/neopolis-1.gif) bottom right repeat-x;
    background-size: contain;
    width: 45.5079dvw;
    height: 18.49vw;
}
.sea {
    background: url(../img/sea.png) bottom right repeat-x;
    background-size: contain;
    width: 39.24605dvw;
    height: 18.49vw;
}
.moon {
    background: url(../img/moon.gif) 80% top no-repeat;
    background-size: contain;
    height: 4.167vw;
}
.body-website {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contenedor {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.logo-neonlightningforce {
    background: url(../img/neon-lightning-force-logo.png) center center no-repeat;
    background-size: contain;
    width: 30.7692em;
    height: 16.53845em;
    margin: auto;
    z-index: 20;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
}
.personajes {
    background: url(../img/trio-beat-em-up-openbor-indie-game.gif) center top no-repeat;
    background-size: contain;
    width: 100%;
    height: clamp(35.539em, 58.271dvw - 15.47rem, 40.539em);
    max-width: 39.231em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.contenedor-media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2em;
    width: 73.8461em;
    margin: auto;
    /*padding-top: clamp(2.5em, 7.5em, 7.5em);*/
    padding-top: 7.5em;
}
.media {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    gap: 4.0816dvh;
    align-items: center;
    z-index: 10;
    align-self: center;
}
.btn-descargar {
    background: url(../img/btn-descargar-beat-em-up-openbor-indie-game.gif) center no-repeat;
    width: 30.7693em;
    height: 5.693em;
    display: block;
    background-size: contain;
}
.trailer:hover {
    background: url(../img/video-beat-em-up-openbor-indie-game.png) center no-repeat;
    background-size: contain;
}
.trailer {
    position: relative;
    width: 34.616em;
    height: 19.693em;
    display: block;
    background: url(../img/video-beat-em-up-openbor-indie-game.png) center no-repeat;
    background-size: contain;
}
.menu ul, nav ul {
    list-style: none;
}
nav ul {
    display: flex;
    background: #000;
    border-style: solid;
    border-image: url(../img/border_menu.png);
    border-image-slice: 40;
    border-image-width: 14;
    border-image-outset: 0;
    border-image-repeat: round;
    position: relative;
    z-index: 0;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: clamp(7px, 0.78125dvw, 21px);
    gap: clamp(7px, 0.78125dvw, 21px);
}
nav ul li {
    font-family: 'Denjin-Makai';
    padding: 2dvh 0dvw;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.041665dvw;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #FFE100;
}
nav ul li a.active {
    color: #FFE100;
}

.contenedor-menu {
    display: flex;
    justify-content: center;
    margin-top: 0;
    gap: 2dvw;
    align-items: center;
}
#light-galeria-video {
    margin-top: clamp(0em, 13.91dvw - 6.677rem, 5.6923em);/*10dvh;*/
}
.menu {
    width: 73.8461em;/* 67dvw;*/
    display: flex;
    flex-direction: column;
    position: relative;
}
.internal .menu {
    top: 0dvh;
}
.menu ul.noticias {
    margin-top: 1.7dvh;
    margin-bottom: 1dvh;
}
.noticias {
    align-self: flex-start;
}
.menu ul.noticias {
    margin-top: 1.7dvh;
    margin-bottom: 1dvh;
}
.novedades ul {
    padding-left: 0.651044dvw;
    padding-right: 0.651044dvw;
}
.novedades ul li {
    display: block;
    border-bottom: 0.1361dvh dashed #ccc;
    padding-top: 1.3605dvh;
    padding-bottom: 1.3605dvh;
}
.novedades ul li:first-child {
    padding-top: 0;
}
.novedades ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.scrollbar {
	height: 9.25dvh;
	width: 100%;
	background:#000;
	overflow-y: scroll;
}
#style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(64, 45, 45, 0.3);
	border-radius: 4px;
}
#style-2::-webkit-scrollbar {
	width: 0.5208336dvw;
	background-color: #666;
}
#style-2::-webkit-scrollbar-thumb {
	border-radius: 0.2604dvw;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}
.novedades {
    position: absolute;
    width: 18.24dvw;
    border-style: solid;
    border-width: 0.0641dvw;
    padding: 0.15dvw;
    background-color: #521029;
    border-bottom: 0px none;
    padding-bottom: 0px;
    margin-left: 1.53846em;
    top: -9.5dvh;
}
.titulo-novedad {
    background: #947b00;
    margin: 0px;
    border: outset 0.1302dvw #d6b500;
    position: absolute;
    z-index: 11;
    top: -1.633dvh;
    left: 0.823dvw;
    padding-bottom: 0px;
    padding-left: 0.326dvw;
    padding-right: 0.326dvw;
    padding-top: 0.136dvh;
    font-size: 1.0417dvw;
    letter-spacing: 0.0651dvw;
}
.titulo-seccion {
    font-family: "Revue";
    font-size: 3dvw;
    font-weight: 400;
    line-height: 1;
    background: linear-gradient(180deg, #f7903a, #f7f183, #f7903a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.scrollbar {
	height: 9.25dvh;
	width: 100%;
	background:#000;
	overflow-y: scroll;
}
#style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
}
#style-2::-webkit-scrollbar {
	width: 0.5208336dvw;
	background-color: #666;
}
#style-2::-webkit-scrollbar-thumb {
	border-radius: 0.2604dvw;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}
.copyright {
    text-align: center;
    margin-top: 1dvh;
    font-size: 0.8dvw;
}
.copyright p {
    margin: 0;
}
.copyright a {
    font-weight: 700;
}
.lg-container.lg-show {
    position: absolute;
}
/*.contenedor-interna {
    /*margin-top: clamp(4em, 32.316dvw - 12.632rem, 16em) !important;
    margin-top: clamp(4em, 26.316dvw - 12.632rem, 16em) !important;
    /* margin-top: 25.16328dvh !important;*/
    /*height: clamp(32em, 59.9837dvh - 15.47rem, 40.539em);*/
    /*height: auto;*/
    /*height: min(100dvh, 42em);
    width: 63.8461em;
    margin: auto;
    background: url("../img/loading-fondo.png") center center no-repeat;
    background-size: cover;
    border-style: solid;
    border-image: url(../img/border_menu1.png);
    border-image-slice: 60;
    border-image-width: 10;
    border-image-outset: 4 2;
    border-image-repeat: round;
    border-bottom: 0;
    padding: 2em;
    box-sizing: border-box;
    /*min-height: 21.8em;*/
    /*padding-bottom: 0px;
}*/
.contenedor-interna {
    width: 63.8461em;
    padding-top: 13.5em;
}

.fondo-interna {
    background: url("../img/loading-fondo.png") center center no-repeat;
    background-size: cover;
    border-style: solid;
    border-image: url("../img/border_menu1.png");
    border-image-slice: 60;
    border-image-width: 10;
    border-image-outset: 4 2;
    border-image-repeat: round;
    border-bottom: 0;
    padding: 1em;
    max-height: 34.5em;
    box-sizing: border-box;
    min-height: 21.8em;
    height: 100dvh;
    max-width: 63.8461em;
    width: 100%;
}
/*
.fondo-interna {
    padding: 1em;
    width: 100%;
    max-width: 63.8461em;
    min-height: 21.8em;
    max-height: min(34.5em, 100dvh);
    box-sizing: border-box;
}*/

.fondo-contenido {
    background-color: #000000a6;
    padding: 1em;
    height: 100dvh;
    max-height: 100%;
}

.contenedor-interna p{
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.fondo-contenido ul {
    padding-left: 1em;
}
.fondo-contenido ul li {
    margin-bottom: 1em;
}

@keyframes clouds-move {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -2000px;
    }
}


@media (max-width: 991px) {
    .logo-neonlightningforce {
        width: 24.7692em;
        height: 13.53845em;
    }
    .trailer {
        width: 30.616em;
        height: 18em;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .logo-neonlightningforce {
        width: 24.7692em;
        height: 13.53845em;
    }
}

@media (orientation: portrait) {
    .body-website {
        justify-content: space-between;
        height: 100dvh;
    }
    .contenedor-media {
        flex-direction: column;
        align-items: center;
        padding-top: 0em;
    }
    .menu{
        width: 100dvw;
    }
    
    .contenedor-interna {
        width: 82dvw;
    }
    .fondo-interna {
        max-width: 100em;
        max-height: 100%;
        min-height: auto;
        height: auto;
    }
    .fondo-contenido {
        padding: 2em;
        height: auto;
        max-height: 100%;
    }
    .titulo-seccion {
        text-align: center;
        font-size: 6dvw;
    }
    .contenedor-interna p, .fondo-contenido ul li {
        font-size: 4em;
    }
    .fondo-contenido ul {
        padding-left: 4em;
    }
    .novedades {
        width: 80dvw;
        border-width: 0.5dvw;
        top: 0;
        position: relative;
    }
    .titulo-novedad {
        border: outset 0.5208dvw #d6b500;
        top: -1.5dvh;
        padding-bottom: 0.5dvh;
        padding-left: 1dvw;
        padding-right: 1dvw;
        padding-top: 0.5dvh;
        font-size: 3dvw;
        line-height: 0.8;
    }
    .moon {
        height: 8.334dvw;
    }
    .clouds {
        height: 30.104dvw;
    }
    .skyline{
        height: 36.98dvw;
    }
    .neopolis-city {
        height: 0dvw;
        display: none;
    }
    .neopolis-city-1 {
        height: 36.98dvw;
        width: 50dvw;
        background-size: cover;
    }
    .sea {
        height: 36.50dvw;
        align-self: flex-end;
        width: 50dvw;
    }
    .logo-neonlightningforce {
        width: 68.6047dvw;
        height: 17.0601dvh;
        margin-top: 0;
        position: relative;
    }
    #light-galeria-video {
        margin-top: 0dvh;
    }
    nav ul {
        border-image-slice: 30;
        border-image-width: 7;
    }
    .trailer {
        width: 70.297dvw;
        height: 17.8299dvh;
    }
    .btn-descargar {
        width: 85dvw;
        height: 7dvh;
    }
    .personajes {
        height: 31.7007dvh;
        max-width: 68.2031dvw;
    }
    .media {
        gap: 3.0816dvh;
        top: -6dvh;
        position: relative;
    }
    .menu {
        top: 0;
    }
    .noticias {
        align-self: center;
    }
    .novedades {
        margin-left: 0;
    }
    .novedades ul {
        padding-left: 2dvw;
        padding-right: 2dvw;
    }
    .novedades ul li {
        font-size: 2.5dvw;
    }
    #style-2::-webkit-scrollbar {
        width: 2.0833344dvw;
    }
    #style-2::-webkit-scrollbar {
        width: 2.0833344dvw;
    }
    .copyright {
        font-size: 2.5dvw;
    }
    nav ul {
        gap: 0dvw;
    }
    nav ul li {
        padding: 1.5dvh 0dvw;
    }
    nav ul li a {
        font-size: 1.8dvw;
    }
    .menu ul.noticias {
        margin-top: 1.05rem;
    }

}

@media (max-width: 350px) {
    .personajes {
        height: 28.7007dvh;
    }
}

@media (max-height: 435px) {
    .contenedor-interna {
        padding-top: clamp(10.5em, 18dvh, 13.5em);
    }
}

@media (max-height: 350px) {
    .contenedor-interna {
        padding-top: 10.5em;
    }
    .fondo-interna {
        height: 26.8em;
    }
}