@font-face {
    font-family: 'Denjin-Makai';
    src: url('../fonts/denjin-makai.ttf') format('ttf'),
    url('../fonts/denjin-makai.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: url(../img/neon-lightning-force-logo.png) center center no-repeat #000135;
    z-index: 999999;
}

.page-loaded .preloader{
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000135;
    font-size: 0.846355dvw;
}

a {
    color: white;
}

.responsive-back {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skyline {
    width: 100dvw;
    height: 18.49dvw;
    display: flex;
    justify-content: flex-start;
}

.clouds {
    background: url(../img/clouds.png) top center repeat-x;
    background-size: contain;
    height: 15.052dvw;
}

.neopolis-city{
    background: url(../img/neopolis.png) bottom right repeat-x;
    background-size: contain;
    width: 15.24605dvw;
    height: 18.49dvw;
}

.neopolis-city-1{
    background: url(../img/neopolis-1.png) bottom right repeat-x;
    background-size: contain;
    width: 45.5079dvw;
    height: 18.49dvw;
}

.sea{
    background: url(../img/sea.png) bottom right repeat-x;
    background-size: contain;
    width: 39.24605dvw;
    height: 18.49dvw;
}

.moon {
    background: url(../img/moon.gif) 80% top no-repeat;
    background-size: contain;
    height: 4.167dvw;
}

.logo-neonlightningforce {
    background: url(../img/neon-lightning-force-logo.png) center center no-repeat;
    background-size: contain;
    width: 26.042dvw;
    height: 14.063dvw;
    margin: auto;
    margin-top: 0.521dvw;
    z-index: 10;
    position: relative;
    display: block;
}

.body-website {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedor {
    width: min(64.519dvw, 100dvw);
    margin: 0 auto;
}

nav ul li {
    font-family: 'Denjin-Makai';
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu ul, nav ul {
    list-style: none;
    padding-left: 0;
}

.personajes {
    background: url(../img/trio-beat-em-up-openbor-indie-game.gif) center top no-repeat;
    background-size: contain;
    width: 100%;
    height: 71.7dvh; /*34.31dvw;*/
    max-width: 33.2035dvw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.contenedor-media {
    position: relative;
    height: 22.448dvw;
    display: flex;
    justify-content: space-between;
    top: -7.15dvw;
}

.noticias {
    position: relative;
}
.novedades {
    position: relative;
	width: 18.24dvw;
    border-style: solid;
    border-width: 0.111dvw;
	padding: 0.15dvw;
    background-color: #521029;
    border-bottom: 0px none;
	padding-bottom: 0px;
	margin-left: 1.30dvw;
}

.titulo-novedad {
    background: #947b00;
    margin: 0px;
    border: outset 0.1302dvw #d6b500;
    position: absolute;
    z-index: 11;
    top: -1.633dvh;
    left: 1.823dvw;
    padding-bottom: 0px;
    padding-left: 0.326dvw;
    padding-right: 0.326dvw;
    padding-top: 0.136dvh;
    font-size: 1.0417dvw;
    letter-spacing: 0.0651dvw;
}
.scrollbar{
	height: 9.25dvh;
	width: 100%;
	background:#000;
	overflow-y: scroll;
}
#style-2::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
}
#style-2::-webkit-scrollbar{
	width: 0.5208336dvw;
	background-color: #666;
}
#style-2::-webkit-scrollbar-thumb{
	border-radius: 0.2604dvw;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}
nav ul {
    display: flex;
    background: #000;
    border-style: solid;
    border-width: 0.5208336dvw;
    /*-moz-border-image: url(../img/border-fc-beat-em-up-openbor-indie-game.png) 7;
    -webkit-border-image: url(../img/border-fc-beat-em-up-openbor-indie-game.png) 7;
    -o-border-image: url(../img/border-fc-beat-em-up-openbor-indie-game.png) 7;
    border-image: url(../img/border-fc-beat-em-up-openbor-indie-game.png) 7;*/
    position: relative;
    z-index: 0;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav ul li{
    padding: 1em 0em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.041665dvw;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #FFE100;
}

.menu ul.noticias {
    margin-top: 1.7dvh;
    margin-bottom: 1dvh;
}

.novedades ul {
    padding-left: 0.651044dvw;
    padding-right: 0.651044dvw;
}

.novedades ul li {
    display: block;
    border-bottom: 0.1361dvh dashed #ccc;
    padding-top: 1.3605dvh;
    padding-bottom: 1.3605dvh;
}

.novedades ul li:first-child {
    padding-top: 0;
}

.novedades ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.media {
    height: 67dvh; /* 34.31dvw;*/
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    gap: 4.0816dvh;
    align-items: center;
    z-index: 10;
}

.btn-descargar {
    background: url(../img/btn-descargar-beat-em-up-openbor-indie-game.gif) center no-repeat;
    width: 26.042dvw;
    height: 10.066dvh;
    display: block;
    background-size: contain;
}

.trailer:hover {
    background: url(../img/video-beat-em-up-openbor-indie-game.png) center no-repeat;
    background-size: contain;
}

.trailer {
    position: relative;
    width: 29.297dvw;
    height: 34.822dvh;
    display: block;
    background: url(../img/video-beat-em-up-openbor-indie-game.png) center no-repeat;
    background-size: contain;
}

.copyright {
    text-align: center;
    margin-top: 1dvh;
    font-size: 0.8dvw;
}

.copyright p {
    margin: 0;
}

.copyright a{
    font-weight: 700;
}

@media (max-width: 1024px) {
    body{
        font-size: 2.2dvw;
    }
    #contenedor {
        width: 100dvw; /* se adapta en móviles */
        height: 100dvh;
    }
    .logo-neonlightningforce {
        width: 42dvw;
        height: 17dvh;
        margin-top: 1dvh;
    }
    .contenedor-media {
        height: auto;
        justify-content: space-between;
        top: -2dvh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .personajes {
        background: url(../img/trio-beat-em-up-openbor-indie-game.gif) center top no-repeat;
        background-size: contain;
        width: 100%;
        height: 41dvh;
        max-width: 52dvw;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .media {
        height: 23dvh;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        gap: 0;
        align-items: center;
        z-index: 10;
    }
    .trailer {
        height: 20dvh;
        width: 50dvw;
    }
    .titulo-novedad {
        font-size: 2.5dvw;
        border: outset 0.35dvw #d6b500;
    }
    .btn-descargar {
        width: 40dvw;
    }
    nav ul li a {
        font-size: 2dvw;
    }
    .novedades {
        width: 50dvw;
        margin-left: auto;
        margin-right: auto;
        border-width: 0.222dvw;
        padding: 0.30dvw;
    }
    nav ul {
        border-width: 1dvw;
        border-left: none;
        border-right: none;
    }
    .scrollbar {
        height: 8dvh;
    }
    #style-2::-webkit-scrollbar {
        width: 2dvw;
    }
    .novedades ul {
        padding-left: 1.5dvw;
        padding-right: 1.5dvw;
    }
    .menu {
        position: relative;
    }
    .copyright {
        font-size: 1.8dvw;
        background: #000135;
        padding-top: 1dvh;
        padding-bottom: 1dvh;
        text-align: center;
        margin-top: 0px;
    }
    .clouds {
        height: 30.052dvw;
    }
    .neopolis-city {
        height: 34.98dvw;
    }
    .neopolis-city-1 {
        height: 34.98dvw;
    }
    .skyline {
        height: 34.98dvh;
    }
    .moon {
        background: url(../img/moon.gif) 90% top no-repeat;
        height: 8.334dvw;
    }
    .sea {
        background-size: 8.49dvw;
        height: 34.98dvw;
    }
}

@media (max-width: 768px) {
    
}