---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout currentPage="characters" title="Personajes | Neon Lightning Force" pageType="internal">
	<section class="contenedor-media contenedor-interna">
		<div class="fondo-interna">
			<div class="fondo-contenido">
				<h1 class="titulo-seccion">Personajes</h1>
				
			</div>
		</div>
	</section>
</MainLayout>