---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout currentPage="home" title="Neon Lightning Force - Beat'em up arcade">
	<section class="contenedor-media">
    	<div class="personajes"></div>
    	<div class="media">
        	<div id="light-galeria-video">
            	<a class="trailer gallery-video" href="https://youtu.be/nHBa5KBhNx4"></a>
        	</div>
        	<div id="light-html">
            	<a class="btn-descargar gallery-html" href="#descargar-juego"></a>

            	<div id="descargar-juego" class="lg-item" style="display:none;">
                	<div>Botón de Descarga assass</div>
            	</div>
        	</div>
    	</div>
	</section>
</MainLayout>