<div class="noticias">
    <div class="novedades">
        <h3 class="titulo-novedad">Novedades</h3>
        <div class="scrollbar" id="style-2">
            <ul class="noticias">
                <li>
                    <strong>25 de Setiembre del 2025</strong><br />¡Mega
                    actualización! ¡Versión beta de la Versi&oacute;n 1.5
                    Liberada!
                </li>
                <li>
                    <strong>9 de Febrero del 2020</strong><br />¡Corregidos
                    errores de color en las paletas y se mejoró la calidad de la
                    música!
                </li>
                <li>
                    <strong>24 de Agosto del 2017</strong><br />¡Versión para
                    Android de Neon Lightning Force lista para descargar!
                </li>
                <li>
                    <strong>25 de Junio del 2017</strong><br />¡Versión en
                    inglés de Neon Lightning Force lista para descargar!
                </li>
                <li>
                    <strong>29 de Octubre del 2016</strong><br />Actualizada
                    sección Galería con nuevas imágenes y videos
                </li>
                <li>
                    <strong>7 de julio del 2016</strong><br />Añadidos perfiles
                    de Vixor y Atlas a la sección Personajes.
                </li>
                <li>
                    <strong>25 de junio del 2016</strong><br />¡Descarga de Neon
                    Lightning Force disponible! Sección de Tips terminada.
                </li>
                <li>
                    <strong>21 de junio del 2016</strong><br />Fecha de salida
                    oficial del juego: 25 de junio del 2016.
                </li>
                <li>
                    <strong>18 de junio de 2016</strong><br />¡Estreno del sitio
                    web oficial! Con las últimas novedades del proyecto.
                </li>
            </ul>
        </div>
    </div>
</div>
