---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../style/image-carrusel.css";
---

<MainLayout
	currentPage="story"
	title="Historia | Neon Lightning Force"
	pageType="internal"
>
	<section class="contenedor-media contenedor-interna">
		<div class="fondo-interna">
			<div class="fondo-contenido">
				<h1 class="titulo-seccion">Historia</h1>
				<div class="columnas-contenido">
					<div class="col1">
						<p>
							Año 2044, Tras la Tercera guerra mundial los países del
							norte han quedado devastados paralizando el comercio
							mundial. Estados Unidos y la Unión Europea no existen
							más cediendo ante una nueva potencia La Unión del
							Pacífico y su capital Neópolis en Sudamérica.
						</p>
						<p>
							Ante la aparente paz mundial, la policía de Neópolis se
							ocupa de combatir la delincuencia de sus calles, que por
							causas desconocidas se hace cada día más violenta.
						</p>
						<p>
							Isolda Shinawara es una agente especial que investiga
							este caso hallando al Drako una droga que hace a los
							criminales más hábiles, fuertes y agresivos, lo que no
							imagina es que seguir la pista de este caso la conducirá
							a un sendero mucho más peligroso y corrupto de lo que
							parece...
						</p>
					</div>
					<div class="col2">
						<div class="carousel" data-carousel>
							<div class="carousel-track">
								<img src="/img/gallery/img6-beat-em-up-openbor-indie-game.png" alt="" />
								<img src="/img/gallery/img6-beat-em-up-openbor-indie-game.png" alt="" />
								<img src="/img/gallery/img7-beat-em-up-openbor-indie-game.png" alt="" />
							</div>

							<button class="prev" data-prev>‹</button>
							<button class="next" data-next>›</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
<script src="../../scripts/image-carrusel.js"></script>
